#This script is used to generate configuration files as a part of deployment on elasticbeanstalk.
#with ssm it fetches secret parameters from aws parameter store and then replace with respective value.
#Finally making symlinks to destination.

########AUTHOR#########
########MATESIO########
########hammadmughal0@gmail.com########


files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_generate_config_file.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      :'This  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_generate_config_file.sh": can be changed to  
      "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_generate_config_file.sh": if you want to generate before 
      deployment process, else it will be executed after deployment. You can check eb logs $ENVNAME for your        
      deployment progress.
      '
      : '
      ##############IAM POLICY TO ACCESS SSM FROM ELASTICBEANSTALK INSTANCE##################
      
      {
        "Version": "2012-10-17",
        "Statement": [
            {
                "Action": [
                 "ssm:DescribeParameters"
                ],
                "Resource": "*",
                "Effect": "Allow"
         },
            {
                "Action": [
                    "ssm:GetParameter"
                ],
                "Resource": "arn:aws:ssm:$REGION:$YOUR_ACCOUNT_ID:parameter/*",
                "Effect": "Allow"
         },
            {
                "Action": [
                    "ssm:GetParameters"
             ],
                "Resource": "arn:aws:ssm:$REGION:$YOUR_ACCOUNT_ID:parameter/*",
                "Effect": "Allow"
                }
        ]
    }
    '
    ##############END IAM POLICY TO ACCESS SSM FROM ELASTICBEANSTALK INSTANCE##################
      
      credentialsToMap=("api-secret"
                        "api-key"
                        "db-host"
                        "db-password"
                        "db-name"
                        )
        #remove if file already exists /home/ec2-user/config.yml
       if [ -f /home/ec2-user/config.yml ]; then
         rm -rf /conf
       fi   
       cd /home/ec2-user/config.yml
        cat <<EOF > config.yml

        API_SECRET='api-secret'
        API_KEY='api-key'
        DB_HOST='db-host'
        DB_PASSWORD='db-password'
        DB_NAME='db-name'
      EOF

        chmod 777 -R /conf
        aws configure get region
        for val in "${credentialsToMap[@]}"
        do 
          current=$(aws ssm get-parameter --name $val --region us-east-1 --with-decryption --query Parameter.Value --output text)
          #replace each parameter with fetched value.
          sed -i 's|'"${val}"'|'"${current}"'|g' config.yml
        done
        sudo ln -s /home/ec2-user/config.yml /var/app/current/
        
